$primary:#FFFFFF;
$secondary:#000000;
$btn: 20px;
$title:52px;
$sub:20px;
$text:#5D5D5D;
$titc: 28px;
$price:24px;
$subd: 18px;
$lines:16px;

/*swiper*/
$themeColor: #007aff !default;
$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;

/*adaptive*/
$titlea:46px;
$suba:17px;
$titca: 24px;
$pricea:21px;
$btna: 18px;
$titlem:56px;
$subm:30px;
$titcm: 36px;
$model:43px;
$pricem:36px;
$dodm:40px;